<% var title = 'トップページ'; %>
<% var description = 'トップページの説明文'; %>
<%- include('./templates/_head', {title: title}) -%>
<body>
<%- include('./templates/_header') -%>
<main>
  <p>mainです</p>
  <p>test</p>
</main>
<%- include('./templates/_footer') -%>
</body>
</html>
