<% var title = 'アバウトです'; %>
<% var description = 'アバウトの説明文'; %>
<% var path = '..'; %>
<%-
  include('../templates/_head', {
    title: title,
    path: path
  })
-%>
<body>
<%- include('../templates/_header') -%>
<main>
  <p>aboutです</p>
</main>
<%-
  include('../templates/_footer', {
    path: path
  })
-%>
</body>
</html>
