.header {
  background-color: $headerBg;
  color: red;
  &__wrapper {
    margin: 0 auto;
    max-width: $maxWidth;
  }
}

.test {
  background: #000;
  color: #fff;
  font-size: 2.0rem;
  @include mq-pc {
    font-size: 1.8rem;
  }
  @include mq-tablet {
    font-size: 1.6rem;
  }
  @include mq-mobile {
    font-size: 1.4rem;
  }
}
