<% var title = 'サービスです'; -%>
<% var description = 'サービスの説明文'; %>
<%- include('../templates/_head', {title: title}) -%>
<body>
<%- include('../templates/_header') -%>
<main>
  <p>indexです</p>
  <p>テストです</p>
  <p>test</p>
</main>
<%- include('../templates/_footer') -%>
<script src="/assets/js/main.js"></script>
</body>
</html>
